---
---

@import "{{ site.theme }}";
body {
    background-color: grey;
    font-family: "Courier New", Courier, monospace;
}
h1 {
    color: white;
}
p {
    color: white;
}
a {
    color: black;
}
a hover {
    color: black;
    text-decoration: underline;
}
