---
---

@import "{{ site.theme }}";
body {
    background-color: grey;
    font-family: "Courier New", Courier, monospace;
}
h1, h2, h3, h4 {
    color: black;
}
p {
    color: white;
}
a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: bold;
}
a:active {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
